@font-face{
  font-family:'MD Nichrome';
  src:url('../MD Nichrome Test/MDNichromeTest-Dark.otf');
  font-weight: normal;
  font-style:normal;
}


* {
  font-family: Sequel Sans, sans-serif;
}


html{
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
    color-scheme: dark;
}

body{
  -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #171717;
    font-size: calc(0.2941176471vw + 12.4705882353px);
    line-height: calc(0.5882352941vw + 24.9411764706px);
    line-height: 1.43;
}
div{
  display: block;
  box-sizing:border-box;
  unicode-bidi: isolate;
}
.primary-h1{
  font-family: 'MD Nichrome', sans-serif;
  color:#fff;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
    letter-spacing: 0;
    text-transform: uppercase;
}
ul{
  justify-content: space-between;
  gap: 20px;
  display: flex;
  list-style-type: none;
}

.logo{
  height: 5rem;
  width: 5rem;;
}
.navbar{
  display:flex;
  justify-content: space-between;

}

.navbar-container{
  display: flex;
    
    padding-top: 0;
    padding-bottom: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
 
 


.flex-1{
  display:flex;
  align-items: center;
  flex: 1 1 0%;
}

.cell-changed{
    background-color:#d4edda ;
}