@font-face{
  font-family:'MD Nichrome';
  src:url('../css/font/MD Nichrome Test/MDNichromeTest-Dark.otf');
  font-weight: normal;
  font-style:normal;
}

 
* {
  font-family: Sequel Sans, sans-serif;
  
}
#selector-container{
  display: flex;
  justify-content: space-around;
}


.detail{
  font-style:italic;
  color:white;  
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.primary-h2{
  

  align-items: center;
  font-family: 'MD Nichrome', sans-serif;
  color:#0b0b0b;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-transform: uppercase;
}
thead{
  background:white
}
table, th, td {
  border: 1px solid black;
  border-collapse:separate;
  border-spacing:0 8px;
  
}
th{
  
  justify-content: center;
}
 td {
  
  padding: 10px;
  text-align: center;
  color:white;
  
}
.grid-container{
  display:  grid;
            grid-template-columns:auto; /* 4 columns */
            grid-template-rows: auto; /* 4 rows, each 100px height */
            gap: 10px;
            
}
a{
  color:black;
  text-decoration:none;
}

a:visited{
  color:black;
  text-decoration: none;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  color-scheme: dark;
}

body{
  -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #171717;
    font-size: calc(0.2941176471vw + 12.4705882353px);
    line-height: calc(0.5882352941vw + 24.9411764706px);
    line-height: 1.43;
}
div{
  display: block;
  box-sizing:border-box;
  unicode-bidi: isolate;
}
.primary{
  font-family: 'MD Nichrome', sans-serif;
  color:#fff;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-transform: uppercase;
}
.background {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 25vh;
  width: 100%;
  background-image: url("../media/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: high-quality;
}

.primary-h1{
  font-family: 'MD Nichrome', sans-serif;
  color:#fff;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
    letter-spacing: 0;
    text-transform: uppercase;
}
ul{
  justify-content: space-between;
  gap: 20px;
  display: flex;
  list-style-type: none;
}

.logo{
  height: 5rem;
  width: 5rem;;
}
.navbar{
  
  display:flex;
  justify-content: space-between;

}

.navbar-container{
  
  display: flex;
    
    padding-top: 0;
    padding-bottom: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
 
 
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.pagination button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.flex-1{
  display:flex;
  align-items: center;
  flex: 1 1 0%;
}

.cell-changed{
    background-color:#d4edda ;
}

.pagination li:hover{
  cursor: pointer;
}


#circle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 210px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  
}

.shadow {
  position:     absolute;
  left:         0;
  right:        0;
  margin-left:  auto;
  margin-right: auto;
  top:          307px;
  width:        80px;
  height:       7px;
  background:   #000;
  opacity:      .25;
  border-radius: 50%;
  z-index:      0;
}

#header{
  display:flex;
  justify-content: center;
}
#graph{
  display:flex;
  justify-content: space-between;
  gap:10px
}
#filters{
  display:flex;
  justify-content: space-between;
  gap:30px;
  justify-content: center; /* Centers the section horizontally */
  align-items: center; /* Centers the section vertically */
   /* Ensures the container takes up the full viewport height */
  width: 100%; /* Ensures the container takes up the full width of the viewport */
 
}


.about-us-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color:black;
}

.text-column {
  flex: 1;
  padding: 40px;
}

.text-column h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color:white
}

.text-column p {
  font-size: 1.2em;
  line-height: 1.6;
  color: white;
  margin-bottom: 15px;
}

.image-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.image-column img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


