<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=MD+Nichrome&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/home.css">

    <title>Document</title>
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar">
           <div class="flex-items-center">
            <img src="../style/asset/img/logo.png" laoding="lazy"  decoding ="async" class="logo">
           </div>
                 <ul>
                    <li>Home</li>
                    <li>About</li>
                    
                 </ul>
            </div>
        </nav>

    </div>
    <main class="flex-1">
        <h1 class="primary-h1">Fanta Football</h1>

    </main>

    <div id="myGrid" class="ag-theme-quartz-dark ag-theme-acmecorp"></div>
    
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="../script/config.js" type="module"></script>
    <script src="../script/home.js" type="module"></script>
</body>
</html>