<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=MD+Nichrome&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/global.css">
    <script type="module" src="../assets/js/statistics.js"></script>
    <title>Season</title>
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar">
           <div class="flex-items-center">
            <img src="../assets/media/logo.png" laoding="lazy"  decoding ="async" class="logo">
           </div>
           <ul>
            <li><a href="./home.html"> Home</a></li>
            <li><a href="./statistic.html">Statistics</a></li>
            
         </ul>
            
        </nav>
    </div>
    <main class="flex-1">
        <h1 class="primary-h1">Fanta Football</h1>

    </main>
    <div class="grid-container">
        <section class="background">

        </section>
      <section>
        <div id="table-container">
            
        </section>      
           
              
            </div>
            <div id="pagination-container"></div>
    
    <div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="../assets/js/utils.js" type="module"></script>
    <script src="../assets/js/config.js" type="module"></script>
    <script src="../assets/js/season.js" type="module"></script>
    </div>
</body>
</html>